Django==4.2.22
django-allauth==0.60.0
django-celery-beat==2.5.0
django-crispy-forms==2.4
crispy-bootstrap5==2025.4
django-crontab==0.7.1
django-debug-toolbar==5.1.0
django-filter==24.1
django-timezone-field==7.1
djangorestframework==3.15.0
dj-database-url==3.0.0
whitenoise==6.9.0
gunicorn==23.0.0
psycopg2-binary==2.9.9
celery==5.3.4
Pillow==10.2.0
python-bidi==0.4.2
pytz==2023.3
python-dotenv==1.0.1
sqlalchemy==2.0.27 